<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="OpenCvSharp4.runtime.win" version="4.11.0.20250507" targetFramework="net48" />
  <package id="PLC_Communication" version="12.3.3.1" targetFramework="net48" />
</packages>